<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>area</key>
	<array>
		<string>文化/艺术</string>
		<string>影视/娱乐</string>
		<string>金融</string>
		<string>医药/健康</string>
		<string>工业/制造</string>
		<string>IT/互联网/通信</string>
		<string>媒体/公关</string>
		<string>零售</string>
		<string>教育/科研</string>
		<string>学生</string>
	</array>
	<key>job</key>
	<array>
		<string>高管</string>
		<string>创始人</string>
		<string>投资人</string>
		<string>职业经理人</string>
		<string>咨询顾问</string>
		<string>市场</string>
		<string>产品</string>
		<string>客服</string>
		<string>销售</string>
		<string>商务</string>
		<string>公关</string>
		<string>人事</string>
		<string>行政</string>
		<string>财务</string>
		<string>法务</string>
		<string>工程师</string>
		<string>设计</string>
		<string>运营</string>
		<string>编辑</string>
		<string>分析师</string>
		<string>教师</string>
		<string>翻译</string>
		<string>摄影</string>
		<string>配音员</string>
		<string>导演</string>
		<string>主持人</string>
		<string>司仪</string>
		<string>化妆师</string>
		<string>经纪人</string>
		<string>作家</string>
		<string>记者</string>
		<string>学生</string>
	</array>
	<key>food</key>
	<array>
		<string>火锅</string>
		<string>港式早茶</string>
		<string>烤串</string>
		<string>麻辣烫</string>
		<string>麻辣香锅</string>
		<string>麻小</string>
		<string>生煎包</string>
		<string>卤肉饭</string>
		<string>手撕</string>
		<string>生鱼片</string>
		<string>拉面</string>
		<string>铁板烧</string>
		<string>泰国菜</string>
		<string>牛排</string>
		<string>意大利面</string>
		<string>披萨</string>
		<string>炸鸡</string>
		<string>素食</string>
		<string>提拉米苏</string>
		<string>慕斯蛋糕</string>
		<string>奶酪</string>
		<string>巧克力</string>
		<string>冰淇淋</string>
	</array>
	<key>sports</key>
	<array>
		<string>篮球</string>
		<string>游泳</string>
		<string>跑步</string>
		<string>爬山</string>
		<string>睡觉</string>
		<string>单车</string>
		<string>瑜伽</string>
		<string>足球</string>
		<string>滑板</string>
		<string>滑雪</string>
		<string>乒乓球</string>
		<string>羽毛球</string>
		<string>网球</string>
		<string>高尔夫</string>
		<string>台球</string>
		<string>舞蹈</string>
		<string>街舞</string>
		<string>射箭</string>
		<string>击剑</string>
		<string>射击</string>
		<string>跆拳道</string>
		<string>骑马</string>
	</array>
	<key>music</key>
	<array>
		<string>轻音乐</string>
		<string>欧美</string>
		<string>日韩</string>
		<string>流行</string>
		<string>摇滚</string>
		<string>电子</string>
		<string>R&amp;B</string>
		<string>嘻哈</string>
		<string>爵士</string>
		<string>布鲁斯</string>
		<string>金属</string>
		<string>古典</string>
		<string>乡村</string>
		<string>民谣</string>
	</array>
	<key>move</key>
	<array>
		<string>肖克申的救赎</string>
		<string>霸王别姬</string>
		<string>教父</string>
		<string>这个杀手不太冷</string>
		<string>阿甘正传</string>
		<string>泰坦尼克号</string>
		<string>盗梦空间</string>
		<string>黑客帝国</string>
		<string>蝙蝠侠</string>
		<string>低俗小说</string>
		<string>搏击俱乐部</string>
		<string>海上钢琴师</string>
		<string>千与千寻</string>
		<string>罗马假日</string>
		<string>乱世佳人</string>
		<string>辛德勒的名单</string>
		<string>两杆大烟枪</string>
		<string>闻香识女人</string>
		<string>哈利波特</string>
		<string>魔戒</string>
		<string>英雄本色</string>
		<string>大话西游</string>
	</array>
	<key>book</key>
	<array>
		<string>金庸</string>
		<string>古龙</string>
		<string>鲁迅</string>
		<string>韩寒</string>
		<string>郭敬明</string>
		<string>王朔</string>
		<string>王小波</string>
		<string>三毛</string>
		<string>琼瑶</string>
		<string>亦舒</string>
		<string>张爱玲</string>
		<string>几米</string>
		<string>村上春树</string>
	</array>
	<key>hometown</key>
	<array>
		<string>北京</string>
		<string>上海</string>
		<string>天津</string>
		<string>重庆</string>
		<string>安徽</string>
		<string>福建</string>
		<string>甘肃</string>
		<string>广东</string>
		<string>河北</string>
		<string>黑龙江</string>
		<string>河南</string>
		<string>湖北</string>
		<string>湖南</string>
		<string>吉林</string>
		<string>江西</string>
		<string>江苏</string>
		<string>辽宁</string>
		<string>山东</string>
		<string>陕西</string>
		<string>山西</string>
		<string>四川</string>
		<string>云南</string>
		<string>浙江</string>
		<string>青海</string>
		<string>海南</string>
		<string>台湾</string>
		<string>澳门</string>
		<string>广西</string>
		<string>内蒙古</string>
		<string>宁夏</string>
		<string>西藏</string>
		<string>新疆</string>
		<string>香港</string>
		<string>贵州</string>
	</array>
</dict>
</plist>
